@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  
}

.fade-in {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.project_title{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -10vh;
}

.project_links {
    display: flex;
    font-size: medium;
    padding-right: 10px;
}

.project_links a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: normal;
    color: black;
}
  
.project_links a:hover {
    margin-left: 15px;
    text-decoration: underline;
    cursor: pointer;
}


.model {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
  
  .model_image {
    max-width: 50%;
    height: auto;
  }
  
  .model_caption {
    text-align: center;
    margin-bottom: 40px;
  }

.details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    background-color:rgb(2, 88, 163);
    color:white;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left:40px;
    padding-right:40px;
}

.column{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.item {
    margin-bottom: 10px;
}
.introduction {
    padding-top: 10px;
    margin: 40px;
}

.introduction-content {
    display: flex;
}

.introduction a {
    color: rgb(236, 156, 44);
}

.introduction a:hover {
    text-decoration-style: wavy;
}

.shiba_img {
    margin-top: 40px;
    max-width: 30%;
    overflow: hidden;
}

.shiba {
    width: 70%;
    height: auto;
    float: inline-end;
}

.intro_text {
    flex: 1;
    margin-left: 20px;
}


.outcome {
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.gif_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; 
}

.app_res {
    max-width: 100%;
}

.outcome p {
    margin: 20px; 
}

.outcome h2{
    margin-bottom: 30px;
}

.prototype{
    background-color: rgb(204, 243, 255);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.prototype h2{
    margin-bottom: 40px; 
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.prototype p{
    margin: 40px;
    margin-top: -20px;
    margin-left: 30px;
    margin-right: 20px;
}

.proto-text-container{
    max-width: 75%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
}

.proto_img{
    max-width: 50%;
    padding: 20px;
    padding-right: 0;
    flex-direction: column;
}

.web {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}


.final_app {
    margin: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -20px;
}

.final_app_img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto; 
}

.final_app_text {
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hardware {
    margin: 40px;
}

.hardware-content {
    display: flex;
    align-items: flex-start;
}

.servo {
    margin-top: 20px;
    max-width: 30%;
    margin-left: 20px;
    overflow: hidden;
}

.servo_open {
    width: 100%;
    height: auto;
}

.hardware_text {
    flex: 1;
    margin-right: 20px;
}

.takeaway{
    margin:40px;
    
}

footer {
    margin-left: -10px;
    padding: 20px; 
    justify-content: center;
    padding-bottom: 20px;
}

.next-project{
    margin-left: 82%;
    justify-content: center;
}

.next-project a {
    text-decoration: none; 
    color: #333; 
}

.next-project a:hover {
    cursor: pointer;
}

.arrow {
    font-size: 48px; 
    line-height: 1; 
    vertical-align: middle;
}

.text {
    font-size: 24px;
    margin-left: 5px;
}

@media screen and (max-width:1200px) {
    .next-project{
        margin-left: 80%;
    }
}

@media screen and (max-width:1050px){
    .next-project{
        margin-left: 74%;
    }
}

@media screen and (max-width: 1000px){
    .servo {
        max-width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .hardware-content {
        flex-direction: column;
        align-items: center;
    }
    .servo {
        margin-left: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        max-width: 60%;
    }
    .hardware_text {
        margin-right: 0;
    }
}


@media screen and (max-width: 950px) {
    .introduction-content{
        flex-direction: column;
    }
    .shiba_img {
        display: flex;
        justify-content: center;
        margin: 20px auto; 
    }
}

@media screen and (max-width: 820px){
    
    .next-project{
        margin-left: 68%;
    }

}

@media screen and (max-width: 750px) {
    .model {
        margin-top: 15vh;
      }

    .prototype h2{
        margin-bottom: 30px; 
        margin-top: 10px;
        margin-right: 15px;
    }
    
    .prototype p{
        margin-bottom: 0px;
        margin-left: 30px;
        margin-right: 10px;
    }

    .proto-text-container{
        max-width: 60%;
    }
    .text-container{
        max-width: 65%;
    }
    .servo{
        max-width: 55%;
    }

    .hardware{
        margin-right: 20px;
    }
}


@media screen and (max-width: 670px){
    
    .next-project{
        margin-left: 60%;
    }

}